<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <style>
        #content {width: fit-content;margin-left: auto; margin-right: auto;margin-top: 60px}
        th, td, caption   {border-top: 0.5px solid gray;padding-right: 50px;padding-top: 10px; margin: 10px 0}
        caption {text-align: left}
        button {height: 25px;border: none;border-radius: 2px}
        table {margin: 10px 0}
    </style>
</head>
<body>
    <div id="content">
        <button style="background-color: royalblue;color: white">Add task</button>
        <table>
            <caption style="font-size: 25px">Tasks in "{{ list.name }}"</caption>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Created</th>
                    <th>Due on</th>
                    <th>Owner</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td style="color: dodgerblue">{{ todo.task }}</td>
                        <td>{{ todo.created }}</td>
                        <td>{{ todo.due_on }}</td>
                        <td>{{ todo.owner }}</td>
                        {% if todo.mark is True %}
                            <td><button style="background-color: lightseagreen">{{ "Done" }}</button></td>
                         {% else %}
                            <td><button style="background-color: lightseagreen">{{ "Not Done" }}</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display:flex; flex-direction: row; justify-content: left; align-items: center">
            <button style="background-color: orange">View completed tasks</button>
            <button style="background-color: red; color: white">Delete the list</button>
        </div>
    </div>

</body>
</html>